<?xml version="1.0" encoding="UTF-8"?>
<!--
 | (C) Copyright IBM Corporation 2010. All Rights Reserved.
 *-->
<plugin id="org.oasis.specification.pubmeta">
  <title>XSL to retrieve publication-related metadata from the resolved specification
    bookmap</title>

  <!-- Include support name and email -->
  <feature extension="package.support.name" value="Bob Thomas"/>
  <feature extension="package.support.email" value="bob.thomas@tagsmiths.com"/>

  <!-- Provide a version (default is 1.0 if not specified) -->
  <feature extension="package.version" value="1.0.0"/>

  <feature extension="depend.preprocess.post" value="pub-meta-to-ant-props" type="text"/>
  <feature extension="dita.conductor.target" value="build-pubmeta.xml" type="file"/>

</plugin>
