<?xml version='1.0' encoding='UTF-8'?>

<!-- ===================== CHANGE LOG ================================ -->
<!--                                                                   -->
<!-- 08 May 2019 KJE: Added change log after making modifications      -->
<!--                  based on call with RDA                           -->
<!-- 16 May 2019 KJE: Changed name of plug-in                          -->
<!-- 27 Sep 2020 KJE: Removed obsolete feature                         -->
<!--                                                                   -->
<!-- ================================================================= --> 

<plugin id="org.oasis-open.pdf">
    <require plugin="org.dita.pdf2"/>
    <feature extension="dita.conductor.transtype.check" value="oasis-pdf-committeeNote" type="text"/>
    <feature extension="dita.conductor.transtype.check" value="oasis-pdf-specification" type="text"/>
    <feature extension="dita.conductor.transtype.check" value="oasis-pdf-generic" type="text"/>
    <feature extension="ant.import" value="build-oasis-pdf.xml" type="file"/>
    <feature extension="dita.conductor.pdf2.param" type="file" value="PDFTransformParameters.xml"/>
</plugin>
