/* =============================================================*/
/* CSS for OASIS documents                                      */
/*                                                              */
/* ORIGINAL CREATION DATE:                                      */
/*            Unknown                                           */
/*                                                              */
/*  UPDATES:                                                    */ 
/*   18 Jul 2022 KJE: Organized CSS file                        */
/* =============================================================*/

/* =============================================================*/
/* 1.0 Body                                                     */
/* 2.0 Cover page                                               */
/* 3.0 Basic DITA and HTML elements                             */
/* 4.0 Lists                                                    */
/* 5.0 RFC-2119 rules formatting                                */
/* 6.0 Tables                                                   */
/* 7.0 Titles                                                   */
/* 8.0 Page footers                                             */
/* =============================================================*/

/* =============================================================*/
/* CSS for OASIS specification                                  */
/*                                                              */
/* ORIGINAL CREATION DATE:                                      */
/*            Unknown                                           */
/*                                                              */
/*  UPDATES:                                                    */
/*   18 Aug 2022 KJE: Organized CSS file                        */
/*   19 Aug 2022 KJE:                         */
/* =============================================================*/
/* =============================================================*/
/* 1.0 Body                                                     */
/* =============================================================*/

html {
  font-size: 100%;
}

body {
    background-repeat: no-repeat;
    background-position: top left;
    background-attachment: fixed;
    margin-left: 18pt;
    font-family:" Liberation Sans", arial, helvetica, sans-serif;
    /*font-size: 80%;*/
}

/* Entry from spec CSS */
/*body {
  background: #ffffff;
  color: #000000;
  margin: 14px;
  font-size: 10pt;
  font-family: "Liberation Sans", Helvetica, Arial, sans-serif;
}
*/
/* =============================================================*/
/* 2.0 Cover page                                               */
/*   All only in spec CSS                                       */
/* =============================================================*/

/*p.logo {
  border-bottom: black
}*/

/* Styles publication titles */
/* Different class name, but same descriptor block as CN styles */
.title {
    font-family: "Liberation Sans", arial, helvetica, sans-serif;
    font-size: 200%;
    font-weight: bold;
    list-style-type: decimal;
    color: #446CAA;
}

/* Styles This|Previous|Latest versions; all cover page sections */
/* Different class name, but same descriptor block as CN styles */
.titlepageinfo {
    font-family: "Liberation Sans", arial, helvetica, sans-serif;
    font-size: 100%;
    font-weight: bold;
    list-style-type: decimal;
    color: #446CAA;
}

/* Styles "Table of contents" */
p.heading1 {
    font-size: 150%;
    font-weight: bold;
    list-style-type: decimal;
    color: #446CAA;
}

dt.oasis-style-reference {
  font-weight: bold;
  color: #66116D;
  margin-left: 1.9em;
  margin-bottom: 0.1em;
  margin-top: 0.2em;
}

dd.oasis-style-reference {
  margin-left: 4em;
}

/*Tagsmiths: The coverpage is not processed by dita2html.xsl. Consequently,
  flagging is not supported. This class emulates flagging. 22jul16*/
  
.revised::before {
  content: "►";
}

.revised::after {
  content: "◄";
}

.revised, .red {
  color: red !important;
}

/* =============================================================*/
/* 3.0 Basic DITA and HTML elements                             */
/*     Keep ordered by name of DITA element                     */
/* =============================================================*/

pre, pre.codeblock {
  font-family: "Liberation Mono", Courier, monospace;
  /* font-size originally only in spec CSS */
  font-size: 95%;
  background-color: #f0f0f0;
  margin-left: 2.8em;
  margin-right: 2.8em;
  border-top-style: solid;
  border-width: 1px;
  border-right-style: none;
  border-bottom-style: solid;
  border-left-style: none;
  border: #000000;
  /* padding originally only in committee note CSS */
  padding: 15px;
  white-space: pre;
}

/* Originally only in committee note CSS */
.draft-comment {
  background-color: #d8eef3;
  padding: 5pt;
}

/* Originally only in spec CSS */
caption {
  margin-top: 1em;
  font-style: italic;
}

caption span.title {
  margin-top: 1em;
  font-style: italic;
  color: inherit;
  font-size: inherit;
}

.codeph {
  font-family: "Liberation Mono", Courier, monospace;
}

/* Originally only in spec CSS */
.fig {
  margin-top: 1em;
}

/* Styles generated text for figure titles */
.fig--title-label {
  font-style: normal;
}

/* Styles content of figure title */
figcaption {
  font-size:95%;
  font-style:italic;
  margin-top: 1.5em;
}

.filepath {
  font-family: "Liberation Mono", Courier, monospace;
}

/* font-size originally only in spec CSS */
.keyword {
  font-family: "Liberation Mono", Courier, monospace;
}

/* Originally only in spec CSS */
div.note {
  /*font-family: Arial, Helvetica, sans-serif;*/
  font-size: 10pt;
  margin-left: 2.1em;
  margin-right: 2.1em;
}

/* Originally only in spec CSS */
td > div.note,
dd > div.note {
  margin-left: 1.1em;
}

/* Originally only in committee note CSS */
span.term {
    font-weight: bold;
}

/* Originally only in committee note CSS */
span.underline {
    text-decoration: underline;
}

/* Originally only in committee note CSS */
/* Color is specified here to override declaration in commonltr.css */
code.xmlatt {
    color: black;
    font-family: "Liberation Mono", Courier, monospace;
    font-size: 90%;
}

/* Originally only in committee note CSS */
/* Color is specified here to override declaration in commonltr.css */
code.xmlelement {
    color: black;
    font-family: "Liberation Mono", Courier, monospace;
    font-size: 90%;
}

/* Override styles when XML mention elements are in titles or definition lists */
/* Originally only in spec CSS */
.title > .parameterentity,
.title > .xmlatt,
.title > .xmlelement,
.title > .xmlpi,
.dt > .parameterentity,
.dt > .xmlatt,
.dt > .xmlelement,
.dt > .xmlpi {
  color: inherit;
  font-family: inherit;
  font-weight: inherit;
  font-style: inherit;
}

h1 > code.keyword.markupname.xmlatt {
  color: inherit;
  font-family: inherit;
  font-weight: inherit;
  font-style: inherit;
}
/* =============================================================*/
/* 4.0 Lists                                                    */
/*   All only in spec CSS                                       */
/* =============================================================*/

dd {
  margin-left: 2.1em;
}

.dt{
  margin-bottom: 0.1em;
  margin-top: 0.2em;
}

ol {
  padding-left: 3.2em;
}

ul {
  padding-left: 3.0em;
}

td > ol,
dd > ol {
  padding-left: 1.6em;
}

td > ul,
dd > ul {
  padding-left: 1.4em;
}

ul.ullinks,
ul.linkpreviews{
  background-color: #FFFCCC;
  border: none;
  border-width: thin;
  list-style-type: none;
  padding: 1em;
}

/* =============================================================*/
/* 5.0 RFC-2119 rules formatting                                */
/*     All only in spec CSS                                     */
/* =============================================================*/

table.rfctable {
    margin-top: 1em;
    width: 100%;
}

td.rfctext {
    padding-left: 1em;
    border-left: solid;
    border-left-color: blue;
    border-left-width: 3px;
    padding-right: 1em;
    border-right: solid;
    border-right-color: blue;
    border-right-width: 3px;
}

.RFC-2119 {
  font-weight: bold;
  font-style: normal;
}

/* =============================================================*/
/* 6.0 Tables                                                   */
/*     Spec CSS rules                                           */
/* =============================================================*/

.table {
  margin-bottom: 0.5em;
}

th {
  background-color: #cddbef;
}

.entry,.stentry {
  /*border-left: none;
  border-top: none;
  border-right: solid 1px;
  border-bottom: solid 1px*/
  padding: 5px;
}

.simpletable {
  border-style: solid;
  border-width: 1px;
  margin-bottom: 0.5em;
}

/* =============================================================*/
/* 4.0 Tables                                                   */
/* Committee note styles                                        */
/* =============================================================*/

/*td, th {
    text-align: left;
}

col, colgroup, table, tbody, td, thead, tfoot, th, tr {
    border-color: #AFAFAF;
}
*/
/* =============================================================*/
/* 7.0 Titles                                                   */
/*     Did not merge in committee note CSS rules                */
/* =============================================================*/

h1.topictitle1 {
  /*font-family: Arial, Helvetica, sans-serif;*/
  font-size: 18pt;
  font-weight: bold;
  list-style-type: decimal;
  color: #446CAA;
}

h2.sectiontitle {
  /*font-family: Arial, Helvetica, sans-serif;*/
  font-size: 14pt;
  font-weight: bold;
  list-style-type: decimal;
  color: #446CAA;
}

/* =============================================================*/
/* 8.0 Page footers                                             */
/* =============================================================*/

.footer-table {
  font-size: 8pt;
  padding: 0pt;
  margin-left: -2pt;
  border-width: 0pt;
  width: 100%;
}

.footer-left > p {
  margin-top: 0pt;
  margin-bottom: 0pt;
  text-align: left;
}

.footer-center {
  text-align: center;
}

.footer-right {
  text-align: right;
}

/* =============================================================*/
/* Not yet sorted                                                   */
/* =============================================================*/

.subtitle {
  margin-top: 0em;
  margin-bottom: 0em;
}

.topmargin {
  margin-top: 0.5em;
}

.models {
  width: 100%;
}
