
/* =============================================================*/
/* CSS for OASIS committee note                                 */
/*                                                              */
/* ORIGINAL CREATION DATE:                                      */
/*            Unknown                                           */
/*                                                              */
/*  UPDATES:                                                    */
/*   05 Feb 2019 KJE: Edited to implement OASIS rebranding;     */
/*                    remove Docbook styles; add background     */
/*                    color for thead                           */
/*   08 Feb 2019 KJE: Modified styles for "no-indent"           */
/*   15 Mar 2019 KJE: Removed bold highlighting from headers;   */
/*                    added line above header level-1           */     
/*   17 Mar 2019 KJE: Added styles for xmlelement and xmlatt,   */
/*                    codeblock                                 */
/*   18 Mar 2019 KJE: Added additional styling for <dd> on      */ 
/*                    cover page and TOC; corrected styles for  */
/*                    header-levels 3 and 4 to be normal;       */
/*                    corrected some cover styles to be bold    */ 
/*   17 Aug 2022 KJE: Organized CSS file                        */
/*   19 Aug 2022 KJE: Reworked this file to ONLY contain        */
/*                    overrides to oasis-css                    */
/*                                                              */
/* =============================================================*/

h1.topictitle1 {
    border-top: 1px solid black;
    color:#446CAA;
    font-family: "Liberation Sans", arial, helvetica, sans-serif;
    font-size:150%;
    font-weight:normal;
    margin-top: 2em;
    padding-top: 10pt;
}

*.sectiontitle {
    color:#446CAA;
    font-weight:normal;
}

h2.sectiontitle {
    color: #446CAA;
    font-family: "Liberation Sans", arial, helvetica, sans-serif;
    font-size: 100%;
    font-weight: normal;
}

h2.topictitle2 {
    color: #446CAA;
    font-size: 120%;
    font-weight: normal
}

.topictitle3 {
    color: #446CAA;    
    font-size: 110%;
    font-weight: normal
}

.topictitle4 {
    color: #446CAA;   
    font-size: 100%;     
    font-weight: normal
}

/* end of file */