/*
  OASIS Committee Note CSS stylesheet

  This forms part of the package of the DocBook XML publishing environment
  and methodology found linked from http://docs.oasis-open.org/templates/

  Derived from http://www.oasis-open.org/spectools/css/ with changes for
  the colour of titles and headings.

  One stylesheet is used for all phases of the document development.
  
  $Id: oasis-note.css,v 1.2 2013/05/17 03:27:42 admin Exp $
*/
body{
    background-image:url("banner.png");
    background-repeat:no-repeat;
    background-position:top left;
    background-attachment:fixed;
    margin-left:18pt;
    font-family:Calibri, Times, serif;
    font-size:90%;
}

div.committee-note-title{
    font-family:Calibri, Times, serif;
    font-size:250%;
    font-weight:bold;
    list-style-type:decimal;
    color:#A1985A;
}

div.publication-level{
    margin-top:0.83em;
    font-family:Calibri, Times, serif;
    font-size:170%;
    font-weight:bold;
    list-style-type:decimal;
    color:#A1985A;
}

div.approval-date{
    margin-top:0.83em;
    margin-bottom:0.83em;
    font-family:Calibri, Times, serif;
    font-size:170%;
    font-weight:bold;
    list-style-type:decimal;
    color:#A1985A;
}

h1.topictitle1{
    margin-top:2em;
    font-family:Calibri, Times, serif;
    font-size:170%;
    font-weight:bold;
    list-style-type:decimal;
    color:#A1985A;
}


h1.frontmatter-topic-title{
    margin-top:2em;
    font-family:Calibri, Times, serif;
    font-size:140%;
    font-weight:bold;
    list-style-type:decimal;
    color:#A1985A;
}

h2.sectiontitle{
    font-family:Calibri, Times, serif;
    font-size:140%;
    font-weight:bold;
    list-style-type:decimal;
    color:#A1985A;
}

h2.frontmatter-section-title{
    font-family:Calibri, Times, serif;
    font-size:100%;
    font-weight:bold;
    list-style-type:decimal;
    color:#A1985A;
}

h2.frontmatter-section-title::after{
    content:':';
}

h2.topictitle2{
    font-size:120%;
    color:#A1985A;
}


h3{
    font-size:120%;
    color:#A1985A;
}

h4{
    color:#A1985A;
}

h5{
    font-style:italic;
    color:#A1985A;
}

h6{
    font-variant:small-caps;
    color:#A1985A;
}

.toclinks{
    -webkit-margin-before:0em;
    -webkit-margin-after:0em;
}

p.toc1{
    -webkit-margin-before:0.2em;
    -webkit-margin-after:0.2em;
    margin-left:18pt;
}

p.toc2{
    -webkit-margin-before:0.2em;
    -webkit-margin-after:0.2em;
    margin-left:36pt;
}

p.toc3{
    -webkit-margin-before:0.2em;
    -webkit-margin-after:0.2em;
    margin-left:54pt;
}

p.toc4{
    -webkit-margin-before:0.2em;
    -webkit-margin-after:0.2em;
    margin-left:72pt;
}

.docid-heading{
    font-size:10pt;
    font-weight:bold;
    color:#A1985A;
}

.uri-heading{
    font-size:12pt;
    font-weight:bold;
    color:#A1985A;
}

.loc-heading{
    font-size:10pt;
    font-weight:bold;
    color:#A1985A;
}

.abstract-heading{
    font-size:10pt;
    font-weight:bold;
    color:#A1985A;
}

.status-heading{
    font-size:10pt;
    font-weight:bold;
    color:#A1985A;
}

.thisver-heading{
    font-size:10pt;
    font-weight:bold;
    color:#A1985A;
}

.prevver-heading{
    font-size:10pt;
    font-weight:bold;
    color:#A1985A;
}

.editor-heading{
    font-size:10pt;
    font-weight:bold;
    color:#A1985A;
}

.author-heading{
    font-size:10pt;
    font-weight:bold;
    color:#A1985A;
}

.contrib-heading{
    font-size:10pt;
    font-weight:bold;
    color:#A1985A;
}

.notices-heading{
    font-size:18pt;
    font-weight:bold;
    color:#A1985A;
}

div.section h1.title{
    padding-top:0in;
    color:#A1985A;
}

div.article h1.title{
    color:#A1985A;
}

pre.programlisting{
    background-color:#E7DEEF;
}

div.informalexample pre{
    margin-top:0px;
    padding-top:0px;
    margin-bottom:0px;
    padding-bottom:0px;
    background-color:#E7DEEF;
}

div.informalexample{
    margin-left:2em;
    padding-top:4px;
    padding-bottom:4px;
    border-top-width:1px;
    border-top-style:solid;
    border-bottom-width:1px;
    border-bottom-style:solid;
}

span.underline{
    text-decoration:underline;
}

span.term{
    font-weight:bold;
}

tr{
    border-color:#AFAFAF;
}

td{
    border-color:#AFAFAF;
    text-align:left;
}

th{
    border-color:#AFAFAF;
    text-align:left;
}

col{
    border-color:#AFAFAF;
}

colgroup{
    border-color:#AFAFAF;
}

table{
    border-color:#AFAFAF;
}

tbody{
    border-color:#AFAFAF;
}

thead{
    border-color:#AFAFAF;
}

tfoot{
    border-color:#AFAFAF;
}

@media screen{ /* hide from IE3 */
    a[href]:hover{
        background:#ffa
    }
}

/* end of file */