<?xml version='1.0' encoding='UTF-8'?>
<plugin id="org.oasis.pdf.committeeNote">
  <require plugin="org.dita.pdf2" />
  <template file="build-oasis-pdf-committeeNote_template.xml"/>
  <feature extension="dita.conductor.transtype.check" 
               value="oasis-pdf-committeeNote"
                type="txt"/>
  <feature extension="dita.conductor.target.relative" 
               value="build.xml"
                type="file"/>
</plugin>
